.search{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: auto;
    width: 70%;
    margin-left: auto;
    flex-wrap: revert;
}
.select{
    width: 20%;
}
