.app{
    display: row;
    background: darkgray;
    justify-content: center;
}
.img{
    max-width: 200px;
    margin-left: 150px;
}
.form{
    margin-top: 50px;
    margin-left: 100px;
}

.post_li{
    display: row-;
}

.form-control > img {
    background: black;
}